<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @publication.published_at %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @publication.abstract %>
</p>

<p>
  <strong>Author:</strong>
  <%= author.full_name %>
</p>

<p>
  <strong>Authors school:</strong>
  <%= author.school.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @publication.published_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @publication.published %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
